@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --cor-principal: rgb(137, 12, 174);
    --cor-secundaria: rgba(255, 255, 255, 0.834);
    --cor-destaque: rgb(0, 0, 0);
}

.body {
    font-family: 'Outfit', sans-serif;
    background-color: blueviolet;
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 400;
}

footer a {
    color: var(--cor-destaque);
} 

footer a:hover {
    color: var(--cor-destaque);
}

body.dark-mode {
    background-color: rgba(18, 18, 18, 0.853);
    color: #ffffff;
}

.dark-mode {
    margin-top: 20px;
}

.dark-mode-btn {
    display: flex;
}

.dark-mode-btn {
    background-color: rgb(44, 62, 80);
    color: white;
    border-radius: 150px;
}

.dark-mode-btn:hover {
    background-color: #ffffff;
    color: rgb(44, 62, 80);
    border-radius: 150px;
}